// colors

@brand-dark: #333333;
@brand-light: #F5F2EE;
@brand-aqua: #2ABDAE;
@brand-gold: #FFC70E;
@brand-red: #BF3524;

@brand-primary: @brand-aqua;
@brand-success: @brand-gold;
@brand-info: @brand-dark;
@brand-warning: @brand-dark;
@brand-danger: @brand-red;
