#lm-header {
    position: relative;
    display: block;
    height: 182px;
    background-color: @brand-light;
    border-bottom: 2px solid @brand-gold;
    padding: 24px;
    .little-mermarx {
        position: absolute;
        left: 24px;
        bottom: -34px;
        width: 150px;
        height: 252px;
    }
	h1 {
        position: absolute;
        display: block;
        left: 174px;
        bottom: 24px;
        margin: 0;
		.image-2x('./assets/littleMermarxScript.png', 324px, 78px);
	}
    nav {
        position: absolute;
        right: 24px;
        bottom: 24px;
        a {
            display: inline-block;
            color: @brand-red;
            text-decoration: none;
            padding-left: 24px;
            padding-top: 40px;
            padding-bottom: 7px;
        }
    }
    @media (max-width: 824px) {
        padding: 0;
        height: 72px;
        .little-mermarx {
            left: 20px;
            bottom: -18px;
            width: 50px;
            height: 85px;
        }
        h1 {
            left: 72px;
            bottom: 11px;
            width: 192px;
            height: 46px;
            background-size: 192px 46px;
        }
        nav {
            bottom: 12px;
            font-size: 14px;
        }
    }
}

