header.main {
    background-color: @brand-light;
    border-bottom: 2px solid @brand-gold;
    display: flex;
    align-items: flex-end;
    padding: 24px;
	h1 {
        width: 324px;
        height: 78px;
        margin: 0;
        overflow: hidden;
        text-indent: -999px;
		.image-2x('./assets/littleMermarxScript.png', 324px, 78px);
	}
    nav {
        flex: 1;
        text-align: right;
        a {
            display: inline-block;
            color: @brand-red;
            text-decoration: none;
            padding-left: 24px;
            padding-top: 40px;
            padding-bottom: 7px;
        }
    }
}

