@import url("https://fonts.googleapis.com/css?family=Lobster|Cabin");

// font faces / sizes
@text-color: @gray-dark;
@headings-color: @gray-dark;
@font-size-base: 14px;
@line-height-base: 1.64;
@link-color: @brand-aqua;

// Roboto / Helvetica Neue
@font-family-sans-serif:  "Cabin", sans-serif;
@headings-font-family:    "Lobster", sans-serif;
@headings-font-weight:    bold;
@headings-light-font-weight: 300;
@font-size-h1:            42px;
@font-size-h2:            32px;
@font-size-h3:            28px;
@font-size-h4:            21px;
@font-size-h5:            16px;
@font-size-h6:            12px;

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
  color: @brand-aqua;
  text-decoration: none !important;
}
